*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    max-width: 1920px;
}
header{
    width: 100%;
    max-width: 1920px;
    height: 500px;
    background-image: url(../img/Retâgulo\ degrade\ original.png);
    margin: auto;
}
p , a{
    font-family: 'Sui Generis Free','Calibri';
    font-size: 20px

}

.ptbr{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 120px;
}
.conteudo_imagens{
    width: 20%;
    max-width: 1920px;
    margin: auto;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-right: 25px;
}
.logo{
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    text-align: start;

}
.logo p{
    margin-top: 25px;
    margin-left: 85px;
}
.conteudo_menu{
    width: 50%;
    max-width: 1920px;
    margin: auto;
    margin-right: 30px;
}
.conteudo_menu > ul {
    list-style-type: none;
    display:flex;
    flex-direction: row;
    justify-content: space-around;

}
.conteudo_menu a{
    display: flex;
    text-decoration: none;
    color: black;
    background-color: blue;
    font-size: 30px;
    height: 40px;
    width: 145px;
    justify-content: center;
}
section{
    width: 1366px;
    margin: auto;
    background: rgb(172, 150, 150);
}